.titulo
{
    font-size: 20px;
    color: rgb(97, 80, 7);
    background-color: beige;
   
}

.logo
{
    font-size: 200px;
    color: rgb(209, 170, 64);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.principal
{
    font-size: 50px;
    color: rgb(82, 77, 11);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.principal1
{
    font-size: 50px;
    color: rgb(82, 77, 11);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.principal2
{
    font-size: 50px;
    color: rgb(82, 77, 11);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.fotoprincipal
{
    margin: auto;
    display: block;
}

.mosaico
{
    display: flex;
}